body {
    margin: 0px;
    text-align: center;
    font-family:'Merriweather',serif;
    font-size:18px;
    color: #40514E;

}
.intro{
    width: 40%;
    margin: auto;
    line-height: 1.3;
}

hr{
    border: dotted 6px;
    width:7%;
    border-bottom: none;
    color: cadetblue;
    margin: 50px auto;
    
}
.pro {
    text-decoration: underline;
}
p{
    font-family:  sans-serif;
    padding-bottom: 30px;
    
}
h1 {
    font-size: 4.7rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #40514E;
    line-height: 90%;
    
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat',sans-serif;
    color: #1ec9cf;

}
a {
    color: #11999E;
    
}
a:hover{
    color: antiquewhite;
}

.middle-container{
    padding-bottom: 100px;
 
}
.bottom-container{
    padding: 20px 20px 20px 20px;
    
    line-height: 2.0;
    background-color: #66BFBF;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    
    
}
.bcloud{
    position: absolute;
    left: 300px;
    bottom: 300px;

}
.tcloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.skillsd{
border-radius: 10cm;

}
.skill-row{
    width:50%;
    margin: 50px auto 50px auto;
    text-align: left;
    line-height: 2;
    
}
.chess{
    width: 25%;
    float: left;
    padding-right: 30px;
}
.code{
    width: 25%;
    float: right;
    padding-left: 30px;
    margin-top: 50px;
}
.footer-link{
    margin-bottom: 20px;
    margin: 30px 30px 30px 30px;
    color: #11999E;
    text-decoration: underline #66BFBF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.bt{
    height: 40px;
    width: 150px;
    color: white;
    border-radius: 10px;
    background-color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    border-color: #66BFBF ;
    border-style: none;
    text-decoration: underline #66BFBF;
}
.contact-me{
    width: 50%;
    line-height: 2;
    margin: auto;

}
.bt:hover{
    background-color:#11999E;
    text-decoration: underline #11999E;
}
.copyright{
    color: antiquewhite;
    font-size: .8rem;
}